.o_list_renderer {
	.o_list_table {
		tbody > tr > td:not(.o_list_record_selector) {

            &.o_list_number {
                text-align: right;

                &.o_sequence_vt_cell{
                	text-align: center;
                }
            }
       }
	}
}
.o_settings_container_custom .o_input_dropdown {
    margin-left: 20px
}