// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.biz_message_reaction {
    text-align: left;
    padding: 10px;
    background-color: black;
    border-radius: 12px;
}


