<odoo>

    <menuitem id="menu_meta_migrator_root" name="Meta Migrator" sequence="90"/>
    <menuitem id="menu_meta_migration_job" name="Migration Jobs"
              parent="menu_meta_migrator_root" action="action_meta_migration_job" sequence="10"/>
    <menuitem id="menu_meta_migration_connection" name="Connections"
              parent="menu_meta_migrator_root" action="action_meta_migration_connection" sequence="20"/>

</odoo>
