#myPopup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,
            0,
            0,
            0.4);
    display: none;

    h1 {
        text-align: center;
    }
    .popup-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888888;
        width: 30%;
        font-weight: bolder;
    }
    .popup-content button {
        display: block;
        margin: 0 auto;
    }
    .button-popup {
        margin: 10px 0;
        display: flex;

        button  {
            width: 50%;
            border: none;
            height: 40px;
            border-radius: 5px;
            
        }
        #SubmitPopup {
            margin-right: 10px;
        }
        #closePopup {
            left: 10px;
        }
    }
    .raise-error ,.success {
        display: none;
    }
    .border-red {
        border-color: red;
    }
}
