img.o_ChannelInvitationForm_selectablePartnerAvatar.biz-img-icon.rounded-circle {
    float: right !important;
    margin-left: auto !important;
    display: block !important;
}
.biz_o_Message_authorAvatarContainer{
    position: relative;
    height: 20px;
    width: 20px;
}

.biz_show_more{
    position: relative;
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 12px;
    color: rgb(138, 141, 145);
    font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
    float: right;
}